# This notebook only calls the combine dataframe function and combines all of the dataframes

In [1]:
import sys 
#sys.path.append('/Users/apple/Desktop/Akamatsu_Lab/Lap_track/Final/src')
sys.path.append('../src/')
from detections_preprocessing import combine_dataframes

In [2]:
path_channel_3 = '/Users/apple/Desktop/Akamatsu_Lab/Data/Channel_3_pkl'
c3_combined_df = combine_dataframes(number_of_files = 130, channel = 3, directory_path = path_channel_3)

In [3]:
c3_combined_df.head()

    amplitude   mu_x    mu_y  mu_z  sigma_x  sigma_y  sigma_z  frame
0  175.000000   19.0  1813.0   3.0      2.0      1.0      2.0      0
1  188.000000   24.0  1804.0   4.0      2.0      2.0      3.0      0
2  182.305173   49.0   569.0   4.0      2.0      1.0      2.0      0
3  176.000000  134.0   739.0   4.0      2.0      2.0      3.0      0
4  178.333333   10.0  1196.0   3.0      0.0      1.0      1.0      0

In [4]:
c3_combined_df.shape

(618578, 8)

In [5]:
pickle_file_with_intensities = "/Users/apple/Desktop/Akamatsu_Lab/Data/full_movie_output/spots_c3_all.pkl"

# Save the DataFrame to a pickle file
c3_combined_df.to_pickle(pickle_file_with_intensities)