# This notebook only calls the combine dataframe function and combines all of the dataframes

In [1]:
import sys 
#sys.path.append('/Users/apple/Desktop/Akamatsu_Lab/Lap_track/Final/src')
sys.path.append('../src/')
from detections_preprocessing import combine_dataframes

In [2]:
path_channel_3 = '/Users/apple/Desktop/Akamatsu_Lab/pyLattice_tutorials/DataFrames/Channel_3_pkl/'
c3_combined_df = combine_dataframes(number_of_files = 130, channel = 2, directory_path = path_channel_3 )

In [3]:
c3_combined_df.head()

    amplitude   mu_x   mu_y  mu_z  sigma_x  sigma_y  sigma_z  frame
0  206.593249   11.0   12.0   0.0      2.0      2.0      4.0      0
1  198.333333   69.0   52.0  -2.0      2.0      2.0      7.0      0
2  207.348417  103.0  123.0   4.0      3.0      2.0     36.0      0
3  185.333333  104.0  244.0  -2.0      4.0      2.0      7.0      0
4  191.000000   36.0   88.0   1.0      2.0      1.0      2.0      0

In [4]:
pickle_file_with_intensities = "/Users/apple/Desktop/Akamatsu_Lab/Lap_track/Final/data/spots_c3_all.pkl"

# Save the DataFrame to a pickle file
c3_combined_df.to_pickle(pickle_file_with_intensities)