# This notebook only calls the combine dataframe function and combines all of the dataframes

In [1]:
import sys 
#sys.path.append('/Users/apple/Desktop/Akamatsu_Lab/Lap_track/Final/src')
sys.path.append('../src/')
from detections_preprocessing import combine_dataframes

In [2]:
path_channel_3 = '/Users/apple/Desktop/Akamatsu_Lab/pyLattice_tutorials/DataFrames/Channel_3_pkl_full'
c3_combined_df = combine_dataframes(number_of_files = 30, channel = 3, directory_path = path_channel_3 )

In [3]:
c3_combined_df.head()

    amplitude   mu_x    mu_y  mu_z  sigma_x  sigma_y  sigma_z  frame
0  178.333333  199.0  1857.0   1.0      2.0      1.0      0.0      0
1  178.333333  284.0   479.0   2.0      2.0      2.0      0.0      0
2  181.328060  321.0   830.0   2.0      3.0      2.0      0.0      0
3  190.663510   19.0  1222.0   2.0      1.0      2.0      0.0      0
4  178.333333   34.0   500.0   3.0      2.0      2.0      0.0      0

In [ ]:
#pickle_file_with_intensities = "/Users/apple/Desktop/Akamatsu_Lab/Lap_track/Final/data/spots_c3_all.pkl"

# Save the DataFrame to a pickle file
#c3_combined_df.to_pickle(pickle_file_with_intensities)