In [1]:
import pandas as pd 
import numpy as np 
import sys
sys.path.append('../src/')

In [2]:
track_df = pd.read_pickle('/Users/apple/Desktop/Akamatsu_Lab/Lap_track/self/files/track_df_updated.pkl')

In [3]:
track_df.head()

,frame,index,amplitude,mu_x,mu_y,mu_z,sigma_x,sigma_y,sigma_z,frame_y,...,track_id,c2_amp,c2_peak,c2_peak_x,c2_peak_y,c2_peak_z,c3_mean_amp,c2_peak_mean,c2_voxel_sum,c3_voxel_sum
0,0,0,206.593249,11.0,12.0,0.0,2.0,2.0,4.0,0,...,0,122.947826,152.0,9.0,14.0,2.0,163.682353,125.500000,11295,13913
1,0,1,191.000000,36.0,88.0,1.0,2.0,1.0,2.0,0,...,1,116.233333,143.0,34.0,87.0,2.0,138.233333,114.826667,20068,19928
2,0,2,231.007679,40.0,141.0,1.0,2.0,2.0,2.0,0,...,2,122.330000,142.0,41.0,142.0,0.0,153.940000,122.853333,15316,22805
3,0,3,185.152538,40.0,58.0,1.0,2.0,1.0,3.0,0,...,3,117.626667,142.0,42.0,59.0,0.0,141.280000,118.016667,14557,20358
4,0,4,202.000000,46.0,73.0,1.0,2.0,2.0,3.0,0,...,4,115.112000,141.0,45.0,74.0,3.0,147.768000,115.502857,23194,21963

In [4]:
class Track:
    def __init__(self, track_id, frames, x, y, z, intensities):
        self.track_id = track_id
        self.frames = frames
        self.x = x
        self.y = y
        self.z = z
        self.intensities = intensities
        self.track_length = len(frames)
        self.track_start = frames.min()
        self.track_end = frames.max()
        self.peak_intensities = self.calculate_peak_intensities()
        self.peak_intensity_frames = self.calculate_peak_intensity_frame()
        self.mean_displacement_track = self.calculate_mean_displacement()

    def calculate_mean_displacement(self):
        displacement = ((self.x - self.x.shift())**2 + (self.y - self.y.shift())**2 + (self.z - self.z.shift())**2)**0.5
        return displacement.mean()
    
    def print_intensities(self):
        return self.intensities
    
    def calculate_peak_intensities(self):
        peaks_intensitiy_values = []
        for i in range(self.intensities.shape[1]):
            peaks_intensitiy_values.append(max(self.intensities[:,i]))
        return peaks_intensitiy_values
    
    def print_peak_intensities(self):
        for i in range(self.intensities.shape[1]):
            print('peaks: ', max(self.intensities[:,i]))
    
    def calculate_peak_intensity_frame(self):
        peak_frames = []
        for i in range(self.intensities.shape[1]):
            index = np.argmax(self.intensities[:,i])
            peak_frames.append(index + self.track_start)
        return peak_frames
    
    def print_peak_intensity_frame(self):
        for i in range(self.intensities.shape[1]):
            index = np.argmax(self.intensities[:,i])
            ans = index + self.track_start
            print(ans)

In [5]:
def create_tracks_from_dataframe(df, track_id_col_name = 'track_id', frame_col_name = 'frame',
                                 coords = ['mu_x', 'mu_y', 'mu_z'], intensities_col_name = ['amplitude', 'c2_peak']):
    tracks = []
    for track_id, group in df.groupby('track_id'):
        #intensities = [group.filter(like=f'intensity_channel_{i+1}') for i in range(len(group.columns)-5)]
        track = Track(
            track_id = group[track_id_col_name],
            frames = group[frame_col_name],
            x = group[coords[0]],
            y = group[coords[1]],
            z = group[coords[2]],
            intensities = group[intensities_col_name].values
        )
        tracks.append(track)
    return tracks

In [6]:
tracks = create_tracks_from_dataframe(df = track_df)

In [7]:
# Create DataFrame from Track instances
tracks_data = {
    'track_id': [track.track_id.values[0] for track in tracks],
    'track_length': [track.track_length for track in tracks],
    'track_start': [track.track_start for track in tracks],
    'track_end': [track.track_end for track in tracks],
    'c3_peak': [track.peak_intensities[0] for track in tracks],
    'c2_peak': [track.peak_intensities[1] for track in tracks],
    'c2_peak_frame': [track.peak_intensity_frames[0] for track in tracks],
    'c3_peak_frame': [track.peak_intensity_frames[1] for track in tracks],
    'mean_displacement': [track.mean_displacement_track for track in tracks]
}

tracks_df = pd.DataFrame(tracks_data)

In [8]:
tracks_df.head()

,track_id,track_length,track_start,track_end,c3_peak,c2_peak,c2_peak_frame,c3_peak_frame,mean_displacement
0,0,1,0,0,206.593249,152.0,0,0,NaN
1,1,1,0,0,191.000000,143.0,0,0,NaN
2,2,1,0,0,231.007679,142.0,0,0,NaN
3,3,1,0,0,185.152538,142.0,0,0,NaN
4,4,2,0,1,202.000000,141.0,0,0,1.0

In [9]:
tracks_df[tracks_df['track_id']==541]

,track_id,track_length,track_start,track_end,c3_peak,c2_peak,c2_peak_frame,c3_peak_frame,mean_displacement
541,541,22,1,22,321.0,211.0,9,9,1.712512