In [1]:
import sys 
#sys.path.append('/Users/apple/Desktop/Akamatsu_Lab/Lap_track/Final/src')
sys.path.append('../src/')
from detections_preprocessing import combine_dataframes

In [4]:
path = '/Users/apple/Desktop/Akamatsu_Lab/pyLattice_tutorials/DataFrames/Channel_2_pkl/'
temp = combine_dataframes(number_of_files = 130, channel = 2, directory_path = path )

In [5]:
temp.head()

    amplitude   mu_x   mu_y  mu_z  sigma_x  sigma_y  sigma_z  frame
0  209.666667  138.0  239.0  -4.0      2.0      2.0     11.0      0
1  170.516848   67.0  199.0   1.0      2.0      2.0      3.0      0
2  194.000000  140.0   59.0   1.0      2.0      2.0      3.0      0
3  172.922264  143.0  127.0   2.0      2.0      2.0      1.0      0
4  170.000000   84.0  104.0   2.0      2.0      2.0      2.0      0